* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Темный фон */
  color: white;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #222;
}

header .logo img {
  height: 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  font-size: 16px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #800020; /* Настоящий багровый цвет */
}

.contact a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

button {
  background-color: #800020; /* Настоящий багровый цвет */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #660018; /* Темный багровый для ховера */
}

.catalog {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

.product-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
  background-color: #fff;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.product-card h3 {
  margin-top: 15px;
  font-size: 22px;
  color: #333;
}

.product-card p {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
  font-size: 14px;
}
