body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #800020; /* багровый цвет */
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header .cart a {
    color: white;
    text-decoration: none;
}

.banner {
    background-color: #e6e6e6;
    padding: 50px 0;
    text-align: center;
}

.banner h1 {
    margin: 0;
    font-size: 36px;
}

.popular-products {
    padding: 20px;
    text-align: center;
}

.product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

.product img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}